body {
    font-family: 'Raleway', sans-serif;
    
}
a {
    text-decoration: none;
    color: black;
}
#boxBody {
    max-width: 1064px;
    margin: 0 auto;

    
}
/*Start Header*/
#boxHeader {
    
    display: flex;
    height: 70px;
    justify-content: space-between;
    margin-left: 2%;
    margin-right: 2%;
}
/*Start Logo*/
#boxLogo {
    display: flex;
    align-items: center;
}
#sizeLogo {
    width: 90px;
    height: auto;
}
/*End Logo*/

/*Start Nav*/
#boxNav {
    display: flex;   
}
.boxLink {
    display: flex;
    align-items: center;
}
#linkHebergements {
    font-size: 14px;
    font-weight: 500;
    padding-left: 20px;
    padding-right: 20px;
    border-top: 2px blue solid;
}
#linkActivites {
    font-weight: 500;
    font-size: 14px;
    padding-left: 20px;
    padding-right: 20px;
}
#linkInscrire {
    font-weight: 700;
    font-size: 14px;
    padding-left: 20px;
}
.navDeco {
    text-decoration: none;
}
#colorHebergements{
    color: #0065FC;
}
#colorActivites {
    color: black;
}
#colorInscrire {
    color: #0065FC;
}
/*End Nav*/
/*End Header*/

/*Start Section 1*/
#boxSection1 {
    
    display: flex;
    flex-direction: column;
    margin-left: 2%;
    margin-right: 2%;
    margin-top: 5px;
}
/*Start Title*/
#boxTitreSection1 {
    
    display: flex;
    flex-direction: column;
    margin-bottom: 5px;

}
#boxTitreSection1 h1 {
    font-size: 17px;
    margin-top: 0px;
    margin-bottom: 5px;
}
#boxTitreSection1 p {
    font-size: 12.5px;
    margin-top: 0px;
    margin-bottom: 5px;
}
/*End Title*/

/*Start search*/
#boxRechercheSection1 {
    display: flex;
    margin-top: 5px;
}
#borderSearchIcone {
    display: flex;
    background-color: #F2F2F2;
    padding: 10px;
    padding-left: 10px;
    padding-right: 10px;
    border: 2px #F2F2F2 solid;
    border-radius: 10px 0px 0px 10px;
}
#searchIcone {
    display: flex;
    align-items: center;
}
#borderSearch {
    display: flex;
    border: 1px #F2F2F2 solid;
}
#search {
    font-size: 14px;
    font-family: 'Raleway', sans-serif;
    font-weight: 700;
    
    border: 1px #F2F2F2 solid;
}
::-webkit-input-placeholder { /* WebKit, Blink, Edge */
    color:    rgb(0, 0, 0);
}
:-moz-placeholder { /* Mozilla Firefox 4 to 18 */
   color:    rgb(0, 0, 0);
   opacity:  1;
}
::-moz-placeholder { /* Mozilla Firefox 19+ */
   color:    rgb(0, 0, 0);
   opacity:  1;
}
:-ms-input-placeholder { /* Internet Explorer 10-11 */
   color:    rgb(0, 0, 0);
}
::-ms-input-placeholder { /* Microsoft Edge */
   color:    rgb(0, 0, 0);
}

::placeholder { /* Most modern browsers support this now. */
   color:    rgb(0, 0, 0);
}

#button {
    display: flex;
    font-family: 'Raleway', sans-serif;
    font-weight: 500;
    font-size: 14px;
    padding-right: 11px;
    padding-left: 11px;
    color: rgb(255, 255, 255);
    background-color: #0065FC;
    margin: 2px;
    border: 2px #0065FC solid;
    cursor: pointer;
}
#borderButton {
    display: flex;
    border: 2px #0065FC solid;
    background-color: #0065FC;
    border-radius: 0px 10px 10px 0px;
}
/*End search*/

/*Start Filtres*/
#boxFiltres {
    display: flex;
    align-items: center;
    margin-top: 15px;
    margin-bottom: 10px;
}
#boxFiltres h3 {
    margin-right: 15px;
    font-size: 14px;
}
.filtres {
    display: flex;
    align-items: center;
    border-top: 1px #F2F2F2 solid;
    border-bottom: 1px #F2F2F2 solid;
    border-right: 1px #F2F2F2 solid;
    border-left: 1px white solid;
    border-radius: 25px 25px 25px 25px;
    height: 36px;
    margin-left: 10px ;
    margin-right: 10px ;
}
.filtres:hover {
    cursor: pointer;
    border-top-color: #DEEBFF;
    border-bottom-color: #DEEBFF;
    border-right-color: #DEEBFF;
    border-left-color: white;
    background-color: #DEEBFF;
    transition: 1.4s;
    
}
.filtres:hover .icone {
    background-color: white;
    transition: 1s;
    transform: rotate(360deg);
}

.icone {
    color: #0065FC;
    background-color: #DEEBFF;
    border-radius: 30px;
    padding: 12px;
    
}
#money {
    padding-left: 10px;
    padding-right: 10px;
}
#child {
   padding-right: 14px;
   padding-left: 14px;
}
.texteFiltres {
    font-weight: 700;
    font-size: 14px;
    margin: 10px;
    margin-left: 8px;
    margin-right: 15px;
    
}

/*End Filtres*/

/*Start Info*/
#boxInfo {
    display: flex;
    align-items: center;
    margin-bottom: 15px;
}
#boxInfo p {
    font-size: 12px;
}
.iconeInfo {
    color: #0065FC;
    border: 2px #F2F2F2 solid;
    border-radius: 25px 25px 25px 25px;
    padding: 3px;
    padding-right: 7px;
    padding-left: 7px;
    margin-right: 10px;
}
/*End Info*/
/*End Section 1*/

/*Start Section 2*/
#boxSection2 {
    
    display: flex;
    justify-content: space-between;
    margin-left: 2%;
    margin-right: 2%;
}
.boxStar {
    display: flex;
    font-size: 10px;
    margin-top: 5px;
    margin-bottom: 5px;
}
.boxStarPopulaires {
    margin-top: 15px;
}
.colorStar {
    color: #0065FC;
}
.colorGreyStar {
    color: #F2F2F2;
}
/*--Start Box 1 "Hébergement à Marseille"*/
#box1Section2 {
    background-color: #F2F2F2;
    display: flex;
    flex-direction: column;
    border-radius: 15px 15px 15px 15px;
    padding: 25px;
    max-width: 640px;
    width: 65%;
}

/*Start Box Title "Hébergement à Marseille"*/
#box1TitleSection2 {
    display: flex;
}
#box1TitleSection2 h2 {
    font-size: 17px;
    margin-top: 0px;
    margin-bottom: 20px;
}
/*End Box Title "Hébergement à Marseille"*/

/*Start Line 1 "Hébergement à Marseille"*/
#boxLigne1Box1Section2 {
    display: flex;
    justify-content: space-between;
}
.boxHebergements {
    display: flex;
    flex-direction: column;
    background-color: white;
    border-radius: 15px 15px 15px 15px;
    width: 100%;
    min-width: 180px;
    padding: 4px;
}

#imgHebergements1 {
    background-image: url("img/hebergements/small/marcus-loke-WQJvWU_HZFo-unsplash.jpg");
    background-size: cover;
    background-position: center;
    border-radius: 15px 15px 0px 0px;
    width: 100%;
    height: 85px;
}
#imgHebergements2 {
    background-image: url("img/hebergements/small/fred-kleber-gTbaxaVLvsg-unsplash.jpg");
    background-size: cover;
    background-position: center;
    border-radius: 15px 15px 0px 0px;
    width: 100%;
    height: 85px;
}
#imgHebergements3 {
    background-image: url("img/hebergements/small/reisetopia-B8WIgxA_PFU-unsplash.jpg");
    background-size: cover;
    background-position: center;
    border-radius: 15px 15px 0px 0px;
    width: 100%;
    height: 85px;
}
.txtHebergements {
    display: flex;
    flex-direction: column;
    padding-left: 8px;
}
.txtHebergements h3 {
    font-size: 14px;
    margin-bottom: 0px;
    margin-top: 5px;
}
.txtHebergements p {
    font-size: 12px;
    margin-top: 3px;
    margin-bottom: 0px;
}
/*End Line 1 "Hébergement à Marseille"*/

/*Start Line 2 "Hébergement à Marseille"*/
#boxLigne2Box1Section2 {
    display: flex;
    justify-content: space-between;
    margin-top: 20px;
}
#imgHebergements4 {
    background-image: url("img/hebergements/small/annie-spratt-Eg1qcIitAuA-unsplash.jpg");
    background-size: cover;
    background-position: center;
    border-radius: 15px 15px 0px 0px;
    width: 100%;
    height: 85px;
}
#imgHebergements5 {
    background-image: url("img/hebergements/small/nicate-lee-kT-ZyaiwBe0-unsplash.jpg");
    background-size: cover;
    background-position: center;
    border-radius: 15px 15px 0px 0px;
    width: 100%;
    height: 85px;
}
#imgHebergements6 {
    background-image: url("img/hebergements/small/febrian-zakaria-M6S1WvfW68A-unsplash.jpg");
    background-size: cover;
    background-position: center;
    border-radius: 15px 15px 0px 0px;
    width: 100%;
    height: 85px;
}
/*End Line 2 "Hébergement à Marseille"*/

/*Start Line Afficher "Hébergement à Marseille"*/
#boxAfficher {
    display: flex;
    margin-top: 30px;
    margin-bottom: 10px;
}
#styleAfficher {
    font-weight: 700;
    font-size: 15px;
}
/*End Line Afficher "Hébergements à Marseille*/

/*End Box 1 "Hébergements à Marseille*/

/*Start Box 2 "Les plus populaires"*/
#box2Section2 {
    background-color: #F2F2F2;
    display: flex;
    flex-direction: column;
    border-radius: 15px 15px 15px 15px;
    padding: 25px;
    max-width: 250px;
    width: 30%;
}

/*Start Box Title "Les plus populaires"*/
#box2TitleSection2 {
    display: flex;
    align-items: center;
    justify-content: space-between;
    
}
#box2TitleSection2 h2 {
    font-size: 17px;
    margin-top: 0px;
    margin-bottom: 20px;
}
#sizeChartIcone {
    font-size: 18px;
    margin-top: 0px;
    margin-bottom: 20px;
}
/*End Box Title "Les plus populaires"*/

/*Start Line 1 "Les plus populaires*/
.box2Populaires {
    display: flex;
    background-color: white;
    border-radius: 15px 15px 15px 15px;
    width: 100%;
    padding: 4px;
}
#boxLine2Box2Section2 {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 100%;
}
#imgPopulaires1 {
    background-image: url("img/hebergements/small/emile-guillemot-Bj_rcSC5XfE-unsplash.jpg");
    background-size: cover;
    background-position: center;
    border-radius: 15px 0px 0px 15px;
    width: 30%;
    min-width: 90px;
    height: 100px;
}
#imgPopulaires2 {
    background-image: url("img/hebergements/small/aw-creative-VGs8z60yT2c-unsplash.jpg");
    background-size: cover;
    background-position: center;
    border-radius: 15px 0px 0px 15px;
    width: 30%;
    min-width: 90px;
    height: 100px;
}
#imgPopulaires3 {
    background-image: url("img/hebergements/small/febrian-zakaria-sjvU0THccQA-unsplash.jpg");
    background-size: cover;
    background-position: center;
    border-radius: 15px 0px 0px 15px;
    width: 30%;
    min-width: 90px;
    height: 100px;
}
.txtPopulaires {
    display: flex;
    flex-direction: column;
    padding-left: 8px;
}
.txtPopulaires h3 {
    font-size: 14px;
    margin-bottom: 0px;
    margin-top: 5px;
}
.txtPopulaires p {
    font-size: 12px;
    margin-top: 3px;
    
}

/*End Line 1 "Les plus populaires*/

/*End Section 2*/

/*Start Section 3*/
#boxSection3 {
    display: flex;
    flex-direction: column;
    margin-left: 2%;
    margin-right: 2%;
    margin-top: 35px;
}
#BoxLine2Activites {
    display: flex;
    justify-content: space-between;
    
}

#boxTitleActivites h2 {
    font-size: 17px;
    padding-bottom: 5px;
}
.boxLargeActivites {
    display: flex;
    flex-direction: column;
    background-color: white;
    border-radius: 15px 15px 15px 15px;
    width: 230px;
    height: 100%;
    box-shadow: 0px 5px 5px #F2F2F2;
    
    
}
.boxLargeActivites h3 {
    margin: 10px ;
    font-size: 14px;
}
.boxFlexSmallActivites {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
.boxSmallActivites {
    display: flex;
    flex-direction: column;
    
    
    background-color: white;
    border-radius: 15px 15px 15px 15px;
    width: 230px;
    
    box-shadow: 0px 5px 5px #F2F2F2;
}
.boxSmallActivites h3{
    margin: 10px;
    font-size: 14px;
}
#imgActivites1 {
    background-image: url("img/activites/xlarge/reno-laithienne-QUgJhdY5Fyk-unsplash.jpg");
    background-size: 500px;
    background-position: top;
    width: 100%;
    height: 290px;
    border-radius: 15px 15px 0px 0px;
}
#imgActivites2 {
    background-image: url("img/activites/small/paul-hermann-QFTrLdQIRhI-unsplash.jpg");
    background-size: cover;
    background-position-y: -90px;
    width: 100%;
    height: 130px;
    border-radius: 15px 15px 0px 0px;
}
#imgActivites3 {
    background-image: url("img/activites/xlarge/kevin-hikari-rV_Qd1l-VXg-unsplash.jpg");
    background-size: 230px;
    background-position-y: -20px;
    width: 100%;
    height: 80px;
    border-radius: 15px 15px 0px 0px;
}
#imgActivites4 {
    background-image: url("img/activites/xlarge/kilyan-sockalingum-NR8-cBCN3aI-unsplash.jpg");
    background-size: 500px;
    background-position: top;
    filter: brightness(120%);
    width: 100%;
    height: 290px;
    border-radius: 15px 15px 0px 0px;
}
#imgActivites5 {
    background-image: url("img/activites/xlarge/florian-wehde-xW9e8gdotxI-unsplash.jpg");
    background-size: 230px;
    background-position-y: -10px;
    width: 100%;
    height: 80px;
    border-radius: 15px 15px 0px 0px;
}
#imgActivites6 {
    background-image: url("img/activites/small/lena-paulin-wH2-EJoDcV0-unsplash.jpg");
    background-size: cover;
    width: 100%;
    height: 130px;
    border-radius: 15px 15px 0px 0px;
}



